addons/*.pbo
addons/*.bisign
*.bikey
*.log
*.biprivatekey
/store/function_library/*
/store/wiki/*
/utils/release/*
/utils/six-arma-tools.yml

*.7z

/addons/CBA_Project.sublime-workspace

/addons/*.lnk
/addons/cache_disable/$PBOPREFIX$.TXT
/addons/cache_disable/config.cpp
/addons/cache_disable/script_component.hpp
/addons/diagnostic_disable_xeh_logging/$PBOPREFIX$.TXT
/addons/diagnostic_disable_xeh_logging/config.cpp
/addons/diagnostic_enable_logging/$PBOPREFIX$.TXT
/addons/diagnostic_enable_logging/config.cpp
/addons/diagnostic_enable_logging/script_component.hpp

*.pbo
/utils/make.cache

*~
*#
temp/
