addons/*.pbo
addons/*.bisign
*.bikey
*.log
*.biprivatekey
/store/function_library/*
/store/wiki/*
/utils/release/*
/utils/six-arma-tools.yml

*.7z

/addons/CBA_Project.sublime-workspace

/addons/*.lnk
